# Go specific
go.sum

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below if you use vendoring)
vendor/

# Go workspace file
go.work

# Go build cache
*.cache/
